<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWWgUSHsoG_r70lyL3vfZIIMGbNBTf7hY</string>
	<key>GCM_SENDER_ID</key>
	<string>845921091589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emad.beltaje.getxskeleton.getxSkeleton</string>
	<key>PROJECT_ID</key>
	<string>eurlplast</string>
	<key>STORAGE_BUCKET</key>
	<string>eurlplast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845921091589:ios:d3595ad3bec1d5d0c11c6c</string>
</dict>
</plist>